/*.patch
/.svn
AL-Chat/log
AL-Chat/nbactions.xml
AL-Chat/target
AL-Commons/target
AL-Game/*.iml
AL-Game/*.patch
AL-Game/.idea
AL-Game/bin
AL-Game/build
AL-Game/cache
AL-Game/log
AL-Game/nbactions.xml
AL-Game/out
AL-Game/target
AL-Game/test/data/material_mesh_pics/*.db
AL-Login/log
AL-Login/nbactions.xml
AL-Login/target
